# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate

# Python virtual envs and packages
venv/
__pycache__/
*.pyc

# Node modules or other dependencies (if any)
node_modules/

# IDE files
.vscode/
.DS_Store

# Logs
*.log

.terraform/
*.tfvars
secret.auto.tfvars

/rest_lambda/bin/
/rest_lambda/certifi/
/rest_lambda/certifi-2025.4.26.dist-info/
/rest_lambda/charset_normalizer/
/rest_lambda/charset_normalizer-3.4.2.dist-info/
/rest_lambda/idna/
/rest_lambda/idna-3.10.dist-info/
/rest_lambda/requests/
/rest_lambda/requests-2.32.3.dist-info/
/rest_lambda/urllib3/
/rest_lambda/urllib3-2.4.0.dist-info/

/bot_lambda/anyio/
/bot_lambda/anyio-4.9.0.dist-info/
/bot_lambda/bin/
/bot_lambda/certifi/
/bot_lambda/certifi-2025.4.26.dist-info/
/bot_lambda/charset_normalizer/
/bot_lambda/charset_normalizer-3.4.2.dist-info/
/bot_lambda/h11/
/bot_lambda/h11-0.14.0.dist-info/
/bot_lambda/httpcore/
/bot_lambda/httpcore-0.17.3.dist-info/
/bot_lambda/httpx/
/bot_lambda/httpx-0.24.1.dist-info/
/bot_lambda/idna/
/bot_lambda/idna-3.10.dist-info/
/bot_lambda/python_telegram_bot-20.3.dist-info/
/bot_lambda/requests/
/bot_lambda/requests-2.32.3.dist-info/
/bot_lambda/sniffio/
/bot_lambda/sniffio-1.3.1.dist-info/
/bot_lambda/telegram/
/bot_lambda/typing_extensions-4.13.2.dist-info/
/bot_lambda/urllib3/
/bot_lambda/urllib3-2.4.0.dist-info/

/bot_lambda_function.zip
/rest_lambda_function.zip